<!DOCTYPE html>
<html>
<head>
  <title>Redis data viewer</title>
  <%= stylesheet_link_tag    "redis_data_viewer/application", media: "all" %>
  <%= javascript_include_tag "redis_data_viewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
